/*COMMON CSS*/
.popup_bar_bg_ks{
	position:fixed;	
	margin: auto;
	top: 0;
	left: 0;
	width:100%;
	height:100%;
	z-index:99;
	filter:alpha(opacity=90);
	background-repeat: repeat;
	visibility:hidden;
	overflow:hidden;
	background: url(/images/New_ui/login_bg.png);
	background-position: 0 0;
	background-size: cover;
	opacity: .94;
}
.sbar::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}
.sbar::-webkit-scrollbar-thumb {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background-color: #c3c3c3;
}
.sbar::-webkit-scrollbar-track {
	background-color: transparent;
}
.FormTitle {
	table-layout:fixed;
}
.FormTitle i {
	color: #FC0;
	font-style: normal;
}
.FormTitle em {
	color: #00ffe4;
	font-style: normal;
}
.FormTitle b {
	color: #1cfe16;
	font-style: normal;
	font-weight:normal;
}
input[type=button]:focus {
	outline: none;
}
input[type=checkbox]{
	vertical-align:middle;
}
#log_content3, #loading_block2 {line-height:1.5}
.SimpleNote { padding:5px 10px;}
.contentM_qis {
	position: absolute;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	z-index: 200;
	margin-left: 50px;
	top: 320px;
	width:650px;
	return height:auto;
	box-shadow: 3px 3px 10px #000;
	display:none;
}
.contentMKP_qis {
	position: sticky;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius:10px;
	z-index: 10;
	background-color:#2B373B;
	background-color:none;
	margin-left: -215px;
	top: 240px;
	width:980px;
	return height:auto;
	box-shadow: 3px 3px 10px #000;
	background: rgba(0,0,0,0.85);
	display:none;
}
.content_status {
	position: absolute;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius:10px;
	z-index: 10;
	margin-left: -215px;
	top: 240px;
	width:980px;
	return height:auto;
	box-shadow: 3px 3px 10px #000;
	background: rgba(0,0,0,0.85);
	display:none;
}
.user_title{
	text-align:center;
	font-size:18px;
	color:#99FF00;
	padding:10px;
	font-weight:bold;
}
.list_table {
	border: none;
	border-collapse: collapse;
	background-color:transparent;
	text-align:center;
	font-size:12px;
	table-layout:fixed;
}
.list_table tr {
	height:36px;
}
.list_table td {
	border-left: none;
	border-top: none;
	border-right: none;
	border-bottom: 1px solid #FFF;
	border-collapse: collapse;
	font-family: Lucida Console;
	height:25px;
	white-space: nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.input_option{
	vertical-align:middle;
	font-size:12px;
}
.input_option_2{
	margin-left:2px;
	padding-left:5px;
	padding-right:5px;
	height:21px;
	width:152px;
	line-height:23px \9;
	font-size:12px;
	font-family: Lucida Console;
	background-image:none;
	vertical-align:middle;
	color:#FFFFFF;
	outline: none;
	text-align: center;
	border:1px solid transparent;
	background-color: transparent;
}
.sel_option{
	height:25px;
	color:#FFFFFF;
	font-family: Lucida Console;
	font-size:12px;
	text-align: center;
	text-align-last:center;
	padding-left: 12px;
	border:1px solid transparent;
	background-color: transparent;
}
.FormTable_table{
	margin-top:10px;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	border: none;
	border-collapse: collapse;
}
.remove_btn{
	background: transparent url(/res/accountdelete.png) no-repeat scroll center top;
}
.add_btn{
	background: transparent url(/res/accountadd.png) no-repeat scroll center top;
}

/*ASUSWRT*/
#scapp[skin=ASUSWRT] .FormTable_table th{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	text-align:center;
	font-size:12px;
	height:25px;
	border-collapse: collapse;
	border: 0px solid transparent;
	background:#2F3A3E;
}
#scapp[skin=ASUSWRT] .show-btn0, #scapp[skin=ASUSWRT] .show-btn1, #scapp[skin=ASUSWRT] .show-btn2, #scapp[skin=ASUSWRT] .show-btn3, #scapp[skin=ASUSWRT] .show-btn4, #scapp[skin=ASUSWRT] .show-btn5, #scapp[skin=ASUSWRT] .show-btn6, #scapp[skin=ASUSWRT] .show-btn7, #scapp[skin=ASUSWRT] .show-btn8, #scapp[skin=ASUSWRT] .show-btn9, #scapp[skin=ASUSWRT] .show-btn10, #scapp[skin=ASUSWRT] .sub-node1, #scapp[skin=ASUSWRT] .sub-node2 {
	font-size:10pt;
	color: #fff;
	padding: 10px 3.75px;
	border-radius: 5px 5px 0px 0px;
	width:8.42%;
	border-left: 1px solid #67767d;
	border-top: 1px solid #67767d;
	border-right: 1px solid #67767d;
	border-bottom: none;
	background: #67767d;
}
#scapp[skin=ASUSWRT] .show-btn0:hover, #scapp[skin=ASUSWRT] .show-btn1:hover, #scapp[skin=ASUSWRT] .show-btn2:hover, #scapp[skin=ASUSWRT] .show-btn3:hover, #scapp[skin=ASUSWRT] .show-btn4:hover, #scapp[skin=ASUSWRT] .show-btn5:hover, #scapp[skin=ASUSWRT] .show-btn6:hover, #scapp[skin=ASUSWRT] .show-btn7:hover, #scapp[skin=ASUSWRT] .show-btn8:hover, #scapp[skin=ASUSWRT] .show-btn9:hover, #scapp[skin=ASUSWRT] .show-btn10:hover, #scapp[skin=ASUSWRT] .sub-node1:hover, #scapp[skin=ASUSWRT] .sub-node2:hover, #scapp[skin=ASUSWRT] .active {
	border: 1px solid #2f3a3e;
	background: #2f3a3e;
}
#scapp[skin=ASUSWRT] #tablet_0, #scapp[skin=ASUSWRT] #tablet_2, #scapp[skin=ASUSWRT] #tablet_3, #scapp[skin=ASUSWRT] #tablet_4, #scapp[skin=ASUSWRT] #tablet_5, #scapp[skin=ASUSWRT] #tablet_6, #scapp[skin=ASUSWRT] #tablet_7, #scapp[skin=ASUSWRT] #tablet_8, #scapp[skin=ASUSWRT] #tablet_9, {
	margin:-1px 0px 0px 0px;
	border:none;
}
#scapp[skin=ASUSWRT] textarea{
	width:97%;
	padding-left:4px;
	padding-right:37px;
	font-family:'Lucida Console';
	font-size:11px;
	line-height:1.0;
	color:#FFFFFF;
	outline:none;
	overflow-x:hidden;
	border:none;
	line-height: 1.5;
	background: rgb(0 0 0 / 50%);
}
#scapp[skin=ASUSWRT] .mc_outline{
	outline: 1px solid #222;
}
#scapp[skin=ASUSWRT] .input_option_2:hover, #scapp[skin=ASUSWRT] .input_option_2:focus{
	outline: none;
	border: 1px solid grey;
	background-color:#576D73;
}
#scapp[skin=ASUSWRT] .sel_option:hover, #scapp[skin=ASUSWRT] .sel_option:focus{
	outline: none;
	border: 1px solid grey;
	background-color:#576D73;
}
#scapp[skin=ASUSWRT] .sp_bottom_line{
	border-bottom: none !important;
}
#scapp[skin=ASUSWRT] #merlinclash_links, #scapp[skin=ASUSWRT] #merlinclash_links2, #scapp[skin=ASUSWRT] #merlinclash_sub_links{
	resize: none;
	height: 100px;
	width: 440px;
	padding-top: 5px;
	background-color: rgba(87,109,115,0.5);
	border: 1px solid #222;
	line-height:1.2;
	word-break: break-all;
	font-size: 10px;
	padding-right: 0;
}
#scapp[skin=ASUSWRT] .FormTable {
	outline: none;
}
#scapp[skin=ASUSWRT] .button-add {
	background: rgba(79,100,105,0.8); 
	color: #222; 
}
/*ROG*/
#scapp[skin=ROG] .FormTable_table th{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	text-align:center;
	font-size:12px;
	height:25px;
	border-collapse: collapse;
	border: none;
	background: #91071f;
}
#scapp[skin=ROG] .show-btn0, #scapp[skin=ROG] .show-btn1, #scapp[skin=ROG] .show-btn2, #scapp[skin=ROG] .show-btn3, #scapp[skin=ROG] .show-btn4, #scapp[skin=ROG] .show-btn5, #scapp[skin=ROG] .show-btn6, #scapp[skin=ROG] .show-btn7, #scapp[skin=ROG] .show-btn8, #scapp[skin=ROG] .show-btn9, #scapp[skin=ROG] .show-btn10, #scapp[skin=ROG] .sub-node1, #scapp[skin=ROG] .sub-node2 {
	font-size:10pt;
	color: #fff;
	padding: 10px 3.75px;
	border-radius: 5px 5px 0px 0px;
	width:8.42%;
	border: 1px solid #91071f;
	background: none;
}
#scapp[skin=ROG] .show-btn0:hover, #scapp[skin=ROG] .show-btn1:hover, #scapp[skin=ROG] .show-btn2:hover, #scapp[skin=ROG] .show-btn3:hover, #scapp[skin=ROG] .show-btn4:hover, #scapp[skin=ROG] .show-btn5:hover, #scapp[skin=ROG] .show-btn6:hover, #scapp[skin=ROG] .show-btn7:hover, #scapp[skin=ROG] .show-btn8:hover, #scapp[skin=ROG] .show-btn9:hover, #scapp[skin=ROG] .show-btn10:hover, #scapp[skin=ROG] .sub-node1:hover, #scapp[skin=ROG] .sub-node2:hover, #scapp[skin=ROG] .active {
	border: 1px solid #91071f;
	background: #91071f;
}
#scapp[skin=ROG] #tablet_0, #scapp[skin=ROG] #tablet_2, #scapp[skin=ROG] #tablet_3, #scapp[skin=ROG] #tablet_4, #scapp[skin=ROG] #tablet_5, #scapp[skin=ROG] #tablet_6, #scapp[skin=ROG] #tablet_7, #scapp[skin=ROG] #tablet_8, #scapp[skin=ROG] #tablet_9, {
	margin:-1px 0px 0px 0px;
	border:1px solid #91071f;
}
#scapp[skin=ROG] textarea{
	width:97%;
	padding-left:4px;
	padding-right:37px;
	font-family:'Lucida Console';
	font-size:11px;
	line-height:1.0;
	color:#FFFFFF;
	outline:none;
	overflow-x:hidden;
	border:none;
	line-height: 1.5;
	background:transparent;
}
#scapp[skin=ROG] .mc_outline{
	outline: 1px solid #91071f;
}
#scapp[skin=ROG] .input_option_2:hover, #scapp[skin=ROG] .input_option_2:focus{
	border:1px solid #91071f;
	background-color: #3e030d;
}
#scapp[skin=ROG] .sel_option:hover, #scapp[skin=ROG] .sel_option:focus{
	border:1px solid #91071f;
	background-color: #3e030d;
}
#scapp[skin=ROG] .sp_bottom_line{
	border-bottom: 1px solid #91071f !important;
}
#scapp[skin=ROG] #merlinclash_links, #scapp[skin=ROG] #merlinclash_links2, #scapp[skin=ROG] #merlinclash_sub_links{
	resize: none;
	height: 100px;
	width: 440px;
	padding-top: 5px;
	background-color: rgb(0 0 0 / 50%);
	border: 1px solid #91071f;
	line-height:1.2;
	word-break: break-all;
	font-size: 10px;
	padding-right: 0;
}
#scapp[skin=ROG] .FormTable {
	outline: 1px solid #91071f;
}
#scapp[skin=ROG] .button-add {
	background: rgba(0, 0, 0, 0.8); 
	color: #91071f; 
}
/*TUF*/
#scapp[skin=TUF] .FormTable_table th{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	text-align:center;
	font-size:12px;
	height:25px;
	border-collapse: collapse;
	border: none;
	background: #92650F;
}
#scapp[skin=TUF] .show-btn0, #scapp[skin=TUF] .show-btn1, #scapp[skin=TUF] .show-btn2, #scapp[skin=TUF] .show-btn3, #scapp[skin=TUF] .show-btn4, #scapp[skin=TUF] .show-btn5, #scapp[skin=TUF] .show-btn6, #scapp[skin=TUF] .show-btn7, #scapp[skin=TUF] .show-btn8, #scapp[skin=TUF] .show-btn9, #scapp[skin=TUF] .show-btn10, #scapp[skin=TUF] .sub-node1, #scapp[skin=TUF] .sub-node2 {
	font-size:10pt;
	color: #fff;
	padding: 10px 3.75px;
	border-radius: 5px 5px 0px 0px;
	width:8.42%;
	border: 1px solid #92650F;
	background: none;
}
#scapp[skin=TUF] .show-btn0:hover, #scapp[skin=TUF] .show-btn1:hover, #scapp[skin=TUF] .show-btn2:hover, #scapp[skin=TUF] .show-btn3:hover, #scapp[skin=TUF] .show-btn4:hover, #scapp[skin=TUF] .show-btn5:hover, #scapp[skin=TUF] .show-btn6:hover, #scapp[skin=TUF] .show-btn7:hover, #scapp[skin=TUF] .show-btn8:hover, #scapp[skin=TUF] .show-btn9:hover, #scapp[skin=TUF] .show-btn10:hover, #scapp[skin=TUF] .sub-node1:hover, #scapp[skin=TUF] .sub-node2:hover, #scapp[skin=TUF] .active {
	border: 1px solid #92650F;
	background: #92650F;
}
#scapp[skin=TUF] #tablet_0, #scapp[skin=TUF] #tablet_2, #scapp[skin=TUF] #tablet_3, #scapp[skin=TUF] #tablet_4, #scapp[skin=TUF] #tablet_5, #scapp[skin=TUF] #tablet_6, #scapp[skin=TUF] #tablet_7, #scapp[skin=TUF] #tablet_8, #scapp[skin=TUF] #tablet_9, {
	margin:-1px 0px 0px 0px;
	border:1px solid #92650F;
}
#scapp[skin=TUF] textarea{
	width:97%;
	padding-left:4px;
	padding-right:37px;
	font-family:'Lucida Console';
	font-size:11px;
	line-height:1.0;
	color:#FFFFFF;
	outline:none;
	overflow-x:hidden;
	border:none;
	line-height: 1.5;
	background:transparent;
}
#scapp[skin=TUF] .mc_outline{
	outline: 1px solid #92650F;
}
#scapp[skin=TUF] .input_option_2:hover, #scapp[skin=TUF] .input_option_2:focus{
	border:1px solid #92650F;
	background-color: #3e2902;
}
#scapp[skin=TUF] .sel_option:hover, #scapp[skin=TUF] .sel_option:focus{
	border:1px solid #92650F;
	background-color: #3e2902;
}
#scapp[skin=TUF] .sp_bottom_line{
	border-bottom: 1px solid #92650F !important;
}
#scapp[skin=TUF] #merlinclash_links, #scapp[skin=TUF] #merlinclash_links2, #scapp[skin=TUF] #merlinclash_sub_links{
	resize: none;
	height: 100px;
	width: 440px;
	padding-top: 5px;
	background-color: rgb(0 0 0 / 50%);
	border: 1px solid #92650F;
	line-height:1.2;
	word-break: break-all;
	font-size: 10px;
	padding-right: 0;
}
#scapp[skin=TUF] .FormTable {
	outline: 1px solid #92650F;
}
#scapp[skin=TUF] .button-add {
	background: rgba(0, 0, 0, 0.8); 
	color: #92650F; 
}
/*TS*/
#scapp[skin=TS] .FormTable_table th{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	text-align:center;
	font-size:12px;
	height:25px;
	border-collapse: collapse;
	border: none;
	background: #2ed9c3;
}
#scapp[skin=TS] .show-btn0, #scapp[skin=TS] .show-btn1, #scapp[skin=TS] .show-btn2, #scapp[skin=TS] .show-btn3, #scapp[skin=TS] .show-btn4, #scapp[skin=TS] .show-btn5, #scapp[skin=TS] .show-btn6, #scapp[skin=TS] .show-btn7, #scapp[skin=TS] .show-btn8, #scapp[skin=TS] .show-btn9, #scapp[skin=TS] .show-btn10, #scapp[skin=TS] .sub-node1, #scapp[skin=TS] .sub-node2 {
	font-size:10pt;
	color: #fff;
	padding: 10px 3.75px;
	border-radius: 5px 5px 0px 0px;
	width:8.42%;
	border: 1px solid #2ed9c3;
	background: none;
}
#scapp[skin=TS] .show-btn0:hover, #scapp[skin=TS] .show-btn1:hover, #scapp[skin=TS] .show-btn2:hover, #scapp[skin=TS] .show-btn3:hover, #scapp[skin=TS] .show-btn4:hover, #scapp[skin=TS] .show-btn5:hover, #scapp[skin=TS] .show-btn6:hover, #scapp[skin=TS] .show-btn7:hover, #scapp[skin=TS] .show-btn8:hover, #scapp[skin=TS] .show-btn9:hover, #scapp[skin=TS] .show-btn10:hover, #scapp[skin=TS] .sub-node1:hover, #scapp[skin=TS] .sub-node2:hover, #scapp[skin=TS] .active {
	border: 1px solid #2ed9c3;
	background: #2ed9c3;
}
#scapp[skin=TS] #tablet_0, #scapp[skin=TS] #tablet_2, #scapp[skin=TS] #tablet_3, #scapp[skin=TS] #tablet_4, #scapp[skin=TS] #tablet_5, #scapp[skin=TS] #tablet_6, #scapp[skin=TS] #tablet_7, #scapp[skin=TS] #tablet_8, #scapp[skin=TS] #tablet_9, {
	margin:-1px 0px 0px 0px;
	border:1px solid #2ed9c3;
}
#scapp[skin=TS] textarea{
	width:97%;
	padding-left:4px;
	padding-right:37px;
	font-family:'Lucida Console';
	font-size:11px;
	line-height:1.0;
	color:#FFFFFF;
	outline:none;
	overflow-x:hidden;
	border:none;
	line-height: 1.5;
	background:transparent;
}
#scapp[skin=TS] .mc_outline{
	outline: 1px solid #2ed9c3;
}
#scapp[skin=TS] .input_option_2:hover, #scapp[skin=TS] .input_option_2:focus{
	border:1px solid #2ed9c3;
	background-color: #3e2902;
}
#scapp[skin=TS] .sel_option:hover, #scapp[skin=TS] .sel_option:focus{
	border:1px solid #2ed9c3;
	background-color: #3e2902;
}
#scapp[skin=TS] .sp_bottom_line{
	border-bottom: 1px solid #2ed9c3 !important;
}
#scapp[skin=TS] #merlinclash_links, #scapp[skin=TS] #merlinclash_links2, #scapp[skin=TS] #merlinclash_sub_links{
	resize: none;
	height: 100px;
	width: 440px;
	padding-top: 5px;
	background-color: rgb(0 0 0 / 50%);
	border: 1px solid #2ed9c3;
	line-height:1.2;
	word-break: break-all;
	font-size: 10px;
	padding-right: 0;
}
#scapp[skin=TS] .FormTable {
	outline: 1px solid #2ed9c3;
}
#scapp[skin=TS] .button-add {
	background: rgba(0, 0, 0, 0.8); 
	color: #2ed9c3; 
}
/*SWRT*/
#scapp[skin=SWRT] .FormTable_table th{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	text-align:center;
	font-size:12px;
	height:25px;
	border-collapse: collapse;
	border: none;
	background: #fefefe;
}
#scapp[skin=SWRT] .show-btn0, #scapp[skin=SWRT] .show-btn1, #scapp[skin=SWRT] .show-btn2, #scapp[skin=SWRT] .show-btn3, #scapp[skin=SWRT] .show-btn4, #scapp[skin=SWRT] .show-btn5, #scapp[skin=SWRT] .show-btn6, #scapp[skin=SWRT] .show-btn7, #scapp[skin=SWRT] .show-btn8, #scapp[skin=SWRT] .show-btn9, #scapp[skin=SWRT] .show-btn10, #scapp[skin=SWRT] .sub-node1, #scapp[skin=SWRT] .sub-node2 {
	font-size:10pt;
	color: #006ce1;
	padding: 10px 3.75px;
	border-radius: 5px 5px 0px 0px;
	width:8.42%;
	border: 1px solid #006ce1;
	background: none;
}
#scapp[skin=SWRT] .show-btn0:hover, #scapp[skin=SWRT] .show-btn1:hover, #scapp[skin=SWRT] .show-btn2:hover, #scapp[skin=SWRT] .show-btn3:hover, #scapp[skin=SWRT] .show-btn4:hover, #scapp[skin=SWRT] .show-btn5:hover, #scapp[skin=SWRT] .show-btn6:hover, #scapp[skin=SWRT] .show-btn7:hover, #scapp[skin=SWRT] .show-btn8:hover, #scapp[skin=SWRT] .show-btn9:hover, #scapp[skin=SWRT] .show-btn10:hover, #scapp[skin=SWRT] .sub-node1:hover, #scapp[skin=SWRT] .sub-node2:hover, #scapp[skin=SWRT] .active {
	border: 1px solid #006ce1;
	background: #006ce1;
	color: #fff;
}
#scapp[skin=SWRT] #tablet_0, #scapp[skin=SWRT] #tablet_2, #scapp[skin=SWRT] #tablet_3, #scapp[skin=SWRT] #tablet_4, #scapp[skin=SWRT] #tablet_5, #scapp[skin=SWRT] #tablet_6, #scapp[skin=SWRT] #tablet_7, #scapp[skin=SWRT] #tablet_8, #scapp[skin=SWRT] #tablet_9, {
	margin:-1px 0px 0px 0px;
	border:1px solid #006ce1;
}
#scapp[skin=SWRT] textarea{
	width:97%;
	padding-left:4px;
	padding-right:37px;
	font-family:'Lucida Console';
	font-size:11px;
	line-height:1.0;
	color:#FFFFFF;
	outline:none;
	overflow-x:hidden;
	border:none;
	line-height: 1.5;
	background:transparent;
}
#scapp[skin=SWRT] .mc_outline{
	outline: 1px solid #006ce1;
}
#scapp[skin=SWRT] .input_option_2:hover, #scapp[skin=SWRT] .input_option_2:focus{
	border:1px solid #006ce1;
	background:transparent;
}
#scapp[skin=SWRT] .sel_option:hover, #scapp[skin=SWRT] .sel_option:focus{
	border:1px solid #006ce1;
	background:transparent;
}
#scapp[skin=SWRT] .sp_bottom_line{
	border-bottom: 1px solid #006ce1 !important;
}
#scapp[skin=SWRT] #merlinclash_links, #scapp[skin=SWRT] #merlinclash_links2, #scapp[skin=SWRT] #merlinclash_sub_links{
	resize: none;
	height: 100px;
	width: 500px;
	padding-top: 5px;
	background-color: none;
	border: 1px solid #006ce1;
	line-height:1.2;
	word-break: break-all;
	font-size: 10px;
	padding-right: 0;
}
#scapp[skin=SWRT] .FormTable {
	outline: 1px solid #006ce1;
}
#scapp[skin=SWRT] .button-add {
	background: none; 
	color: #006ce1; 
}
#scapp[skin=SWRT] .content_status {
	box-shadow: 3px 3px 10px #006ce1 !important;
}
#scapp[skin=SWRT] .contentMKP_qis, #scapp[skin=SWRT] .loadingBarBlock {
	background: #fefefe;
	box-shadow: 3px 3px 10px #006ce1 !important;
}
#scapp[skin=SWRT] #common_text_editor_text, #scapp[skin=SWRT] #log_content2, #scapp[skin=SWRT] #ok_button {
	background: #fefefe !important;
}
#scapp[skin=SWRT] #clog_content3 {
	border: 1px solid #006ce1;
}
#scapp[skin=SWRT] #clash_state3 {
	color: 1px solid #006ce1 !important;
}
